
/* green
=======
/* green 

#0F3D3E

grey1
#F1F1F1

grey2 & title grey
#D5D5D5

blue1
#6CE5E8

cobalt blue
#41B8D5

dark cobalt
#41B8D5

blue2
#2D8BBA */



html{
    overflow-x: hidden;
    height: 100%
}

body{
    background-color: #FFFFFF;
    height: 100%;
    font-family: 'Roboto';
}

.grey1{
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
}

.loginscreen {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

.logo{
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Helvetica';
    justify-content: center;
    color: #000000;
    padding-top: 47%;
    padding-left: 30.3%;
    font-size: 6rem;
}

.colorgrey {
    color: #D5D5D5;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    /* z-index: 1000;
    opacity: 10; */
    background-color: #f1f1f1;
}

/* ======================================================================================================================================== */
/* Header styles */

.svg-red{
  fill: #e4002b;
}
.svg-white {
  fill: #fff;
}
.fillblack {
  color: #000000;
}
.colorgrey {
    color: #000000;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
}
.header {
    padding-top: 0.8%;
    position: sticky;
    top: 0;
    z-index: 1000;
    opacity: 10;
    background-color: #f1f1f1;
    padding-bottom: 0.5%;
}
/* .bugzilla {
    padding-left: 10%;
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    color: #000000;
} */

.profileicon {
    margin-top: 10px;
    justify-content: right;
    color: #000000;
    font-size: 2rem;
}
/* .profileicon {
    
} */
.dropdown-toggle{
    justify-content: right;
    padding-left: 65%;
    padding-top: 2.5%;
}
.dropdown-toggle::after {
    display: none !important;
  }
.searchbar {
    padding-top: 1%;
}
.inputsearch {
    width: 80%;
    margin-right: 5px;
    border-radius: 5px;;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
  }
.inputsearch::placeholder {
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
}
.inputsearch:focus {
    outline: none !important;
    border: none;
    box-shadow: 0 0 10px #719ECE;
    font-size: 1rem;
    /* padding: 10px; */
  }
.searchbutton {
    color: #000000;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}



/* Header styles ends here */
/* ======================================================================================================================================== */

/* ======================================================================================================================================== */
/* for box styles */

.box{
    padding: 10%;
    padding-top: 30%;
    margin-left: 10%;
    text-align: center;
}

.inputfield {
    border-radius: 10px;
  padding: 2%;
  margin: 2%;
  margin-left: 0;
  font-size: 1rem;
  border-width: calc(var(--border-width) * 1px);
  border-style: none;
  border-color: var(--accent);
  /* text-align: center; */
  outline: transparent;
  width: 80%;
}

.button {
    margin-top: 2%;
    width: 80%;
    background-color: #000000;
    color: #F1F1F1;
}

.button:hover {
    margin-top: 2%;
    width: 80%;
    background-color: #0F3D3E;
    color: #F1F1F1;
    opacity: 80%;
}

.greetings {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.swapbtn {
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    color: #000000;
    background: none;
    border: none;
	padding: 0;
    cursor: pointer;
	outline: inherit;
    margin-left: 10px;
}

/* box styles end here */
/* ======================================================================================================================================== */

/* ======================================================================================================================================== */
/* profile styles start here */

.profileheading{
    padding-top: 2rem;
    padding-left: 2.8rem;
    color: #F1F1F1;
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto';
}

.profilediv{
    padding: 2% 0 1% 5%;
    color: #D5D5D5;
    /* display: flex;
   flex-direction: column; */
    /* background-color: #D5D5D5; */
}

.leftcontent{
    margin-top: 6px;
    font-size: 1.2rem;
}

.inputfield2 {
    border-radius: 10px;
  padding: 2%;
  /* margin: 1%; */
  /* margin-left: 0; */
  font-size: 1rem;
  border-width: calc(var(--border-width) * 1px);
  border-style: none;
  border-color: var(--accent);
  /* text-align: center; */
  outline: transparent;
  width: 80%;
}

.inputfield2:disabled {
  background-color: #F1F1F1;
}

.btndiv{
    padding-left: 8rem;
    padding-top: 2rem;
}

.editbtn {
    align-items:  right;
    margin: 2% 0% 1% 5%;
    padding: 4%;
    padding: 6%;
    color: #0F3D3E;
    background-color: #F1F1F1;
    box-shadow: 0 0 10px 7px #072227;
}

.editbtn:hover {
    color: #0F3D3E;
    background-color: #F1F1F1;
    opacity: 80%;
    box-shadow: 0 0 10px 7px #072227;
}

.submitbtndiv{
    padding-left: 10rem;
    padding-top: 2rem;
}

.submitbtn {
    align-items:  right;
    margin: 2% 0% 1% 5%;

    padding: 4%;

    padding: 6%;

    color: #0F3D3E;
    background-color: #F1F1F1;
    box-shadow: 0 0 10px 7px #000000;
}

.submitbtn:hover {
    color: #0F3D3E;
    background-color: #F1F1F1;
    opacity: 80%;
    box-shadow: 0 0 10px 7px #072227;
}



/* profile styles end here */
/* ======================================================================================================================================== */


/* ======================================================================================================================================== */
/* home page styles start here */

.homealigndiv {
  margin-top: 5rem;
}

.removestyle {
  text-decoration: none;
  color: #000000;
}

.removestyle:hover {
  text-decoration: none;
  color: #000000;
}

.homecomponent {
  margin-top: 1rem;
}

.titlebar{
  z-index: 1000;
}

.tabletitles {
  background-color: black;
  position: fixed;
  left: 7.8%;
  top: 104px;
  color: #D5D5D5;
  margin-top: 0rem;
  margin-left: 4.9rem;
  max-width: 71.2%;
  margin-bottom: 10rem;
  padding: 1.3%;
  padding-bottom: 0.5%;
  border-radius: 5px;
  /* height: 100px; */
}

.collapsebox{
  background-color: #D5D5D5;
  color: #000000;
  margin-top: 0.5rem;
  margin-left: 5rem;
  max-width: 70%;
  padding: 1.3%;
  padding-bottom: 0.5%;
  border-radius: 10px;
}

.card-body {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.info {
  font-size: 1.4rem;
  font-weight: 300;
}

.arrow{
  margin-left: 90%;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.moreBugInfo{
  text-decoration: none;
  color: #0F3D3E;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.moreBugInfo:hover{
  text-decoration: none;
}

.bugidTitle{
  margin-left: 0.1rem;
}

.statusTitle{
  margin-left: 0.4rem;
}

.priorityTitle {
  margin-left: 0rem;
}

.docTitle {
  margin-left: 0rem;
}
/* home page styles end here */
/* ======================================================================================================================================== */


* dashboard styles start here */
/* ======================================================================================================================================== */

/* taskmeter div inline styles are considered */

.taskmeterdiv {
    font-style: italic;
    margin-top: 5vh;
    margin-left: 5vh;
    font-size: 21, ;
    text-align: 'center';
    color: 'white';
}

.graphdiv {
    margin-top: 6vh;
    margin-left: 2vh; 
    
}
.timeselect {
    display: inline-block;
    justify-content: center;
    margin-top: 12vh;
    margin-left: 5vh;
}
.dropdown-toggle {
    display: inline-block;
    padding-left: 1rem;
}
.generalbtn {
    align-items:  right; 
    /* margin: 0% 0% 2% 70%; */
    display: inline-block;
    white-space: nowrap;
    color: #000;
    background-color: #F1F1F1;
    box-shadow: 0 0 10px 7px #FFFFFF;
    margin-top: 6vh;
    margin-left: 5vh;
}

.generalbtn:hover {
    color: #000000;
    background-color: #F1F1F1;
    opacity: 80%;
    box-shadow: 0 0 10px 7px #FFFFFF;
}

.toggle {
    background-color: #F1F1F1;
    width: 100%;
    height: 100vh;
}

